/** @format */
.col-lg-12:nth-of-type(1) {
	/* margin: 0 auto; */
	/* padding: 4rem; */
	padding-top: 5rem;
	padding-left: 13rem;
}
iframe {
	width: 87%;
	border: none;
	overflow: hidden;
	/* margin: 0 auto; */
	margin-left: 11rem;
	margin-bottom: 2rem;
	height: 38rem;
}
