/**
 * /*---Media Queries --
 *
 * @format
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', 'Open Sans', sans-serif;
	color: #222;
}
.dropdown img {
	width: 1.3rem;
}
select.form-select option[value='US'] {
	background-image: url(image/united-states.svg);
}
select.form-select option[value='VN'] {
	background-image: url(fimage/vietnam.svg);
}
.container-fluid {
	padding: 0;
}

.navigation a {
	color: #727272;
	font-weight: 500;
	text-transform: capitalize;
}
.navigation li {
	padding-right: 0.5rem;
}
.fa_custom {
	color: #0099cc;
	transform: scaleX(-1);
}
.main-logo {
	width: 45%;
}
.padding {
	padding-bottom: 2rem;
}
#a li :hover {
	cursor: pointer;
}
/* .figure {
	width: 100%;
	background-image: url(image/depositphotos_7475729-stock-photo-mushroom-background.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 0;
}
.figure img {
	width: 100%;
}
.figure-caption {
	position: relative;
} */
.intro2 .row {
	margin: 0;
	background: rgb(131, 196, 255);
	color: #fff;
}
.intro2 p {
	margin-bottom: 0.2rem;
}
.intro2 .col-xl-4:nth-of-type(2) {
	background: rgb(93, 178, 255);
}
.intro2 .fa-4x {
	color: #fff;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.intro2 .col-xl-4 {
	padding-left: 5rem;
}
.figure {
	width: 100%;
	background-image: url(image/150909104_760928461503722_5749629276035775024_n.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.figure img {
	width: 100%;
}
.figure-caption {
	position: relative;
}
footer .fa-2x {
	color: #bababa;
	margin: 1rem 3rem;
}
footer p {
	margin: 0px;
	padding: 0px;
	color: #c7c7c7;
}
footer p:nth-of-type(1) {
	margin-top: 1rem;
}
footer p:nth-of-type(3) {
	margin-bottom: 1rem;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}
iframe {
	width: 100%;
	border: none;
	overflow: hidden;
	height: 70rem;
}

/* footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: 0.8rem;
	margin-bottom: 1rem;
} */
/* footer {
	background-color: #1f1f1f;
	color: #d5d5d5;
} */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

.vodiapicker {
	display: none;
}

#a {
	padding-left: 0px;
}

#a img,
.btn-select img {
	width: 12px;
}

#a li {
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

#a li:hover {
	background-color: #f4f3f3;
}

#a li img {
	margin: 5px;
}

#a li span,
.btn-select li span {
	margin-left: 30px;
}

/* item list */

.b {
	display: none;
	width: 100%;
	max-width: 350px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	background: rgb(255, 255, 255);
	width: auto;
	position: absolute;
}

.open {
	display: show !important;
}

.btn-select {
	margin-top: 10px;
	width: 100%;
	max-width: 350px;
	height: 34px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.btn-select li {
	list-style: none;
	float: left;
	padding-bottom: 0px;
}

.btn-select:hover li {
	margin-left: 0px;
}

.btn-select:hover {
	background-color: #f4f3f3;
	border: 1px solid transparent;
	box-shadow: inset 0 0px 0px 1px #ccc;
}

.btn-select:focus {
	outline: none;
}

.lang-select {
	margin-left: 50px;
}
