/** @format */

.row .display-item img {
	width: 100%;
	/* width: 78%; */

	height: 456px;
	display: block;
}
.display-item {
	position: relative;
	width: 100%;
	margin-bottom: 1rem;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.3s ease;
	background: rgba(0, 0, 0, 0.3);
}

.display-item:hover .overlay {
	opacity: 1;
}

.icon {
	color: white;
	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
a:hover {
	color: #eee;
}
.fa:hover {
	color: #eee;
}
.bd-sidebar {
	background: #f5f3f3;
}
#sidebarMenu img {
	width: 10rem;
}
#sidebarMenu .nav-link {
	font-size: 14px;
	color: #404040;
}
#sidebarMenu .active {
	color: #007bff;
}
.list {
	margin: 2rem 0px;
}
@media (min-width: 768px) {
	.bd-links {
		position: -webkit-sticky;
		position: sticky;
		top: 5rem;
		display: block !important;
		height: calc(100vh - 7rem);
		padding-left: 0.25rem;
		margin-left: -0.25rem;
		overflow-y: auto;
	}
}

.bd-links {
	overflow: auto;
	font-weight: 600;
}
